<VirtualHost *:80>
ProxyRequests off
<Proxy balancer://webcluster >
    {% for hosts in groups['webservers'] %}
        BalancerMember http://{{hostvars[hosts]['ansible_host']}}
    {% endfor %}
        ProxySet lbmethod=byrequests
</Proxy>

<Location /balancer-manager>
    SetHandler balancer-manager
</Location>

        ProxyPass /balancer-manager !
        ProxyPass / balancer://webcluster/

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>